@import "http://fonts.googleapis.com/css?family=Raleway";

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

#abc {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    z-index: 5;
}

img#close {
    width: 20px;
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
}

div#popupContact {
    position: absolute;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif
}

#form1 {
    max-width: 350px;
    min-width: 250px;
    position: absolute;
    left: 50px;
    padding: 30px 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff
}

#p {
    margin-top: 30px
}

#h2 {
    background-color: #FEFFED;
    padding: 20px 50px;
    margin: -10px 0px;
    text-align: center;
    border-radius: 10px 10px 0 0
}

#hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc
}

#input1 {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    font-family: raleway
}

#submit {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgb(83, 220, 144);
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px
}